F1. 埼玉県内市町村ごとの2019年4月の休日昼間人口と2020年4月の休日昼間人口の差（2020年マイナス2019年）を地図で示せ.

In [79]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

In [80]:
def query_geopandas(sql, db):
    """
    Executes a SQL query on a postGIS and returns the result as a GeoPandas GeoDataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        geopandas.GeoDataFrame: The result of the SQL query as a GeoPandas GeoDataFrame.
    """
    DATABASE_URL = 'postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)
    query_result_gdf = gpd.GeoDataFrame.from_postgis(
        sql, conn, geom_col='geom') #geom_col='way' when using osm_kanto, geom_col='geom' when using gisdb
    return query_result_gdf

In [81]:
sql = "WITH pop2019 AS \
                    ((SELECT DISTINCT(p.name), d.prefcode, d.year, d.month, d.population, p.geom \
                        FROM pop2019 as d\
                            INNER JOIN pop_mesh as p \
                                on p.name = d.mesh1kmid \
                            where d.dayflag='0' and \
                                d.timezone='0' and \
                                d.year='2019' and \
                                d.month='04') \
        select poly.name_2, sum(pop.population) as sum, pop.year, pop.month, pop.prefcode, poly.geom \
            FROM pop2019 \
                INNER JOIN adm2 as poly \
                    on st_within(pop2019.geom, poly.geom) \
            where poly.name_1='Saitama'\
            group by poly.name_2,pop2019.year, pop2019.month, pop2019.prefcode, poly.geom),\
                pop2020 AS \
                    ((SELECT mesh1kmid, population \
                        from pop2020 as d\
                        INNER JOIN pop_mesh as p \
                        on p.name = d.mesh1kmid \
                    where d.dayflag='0' and \
                            d.timezone='0' and \
                            d.year='2020' and \
                            d.month='04') \
                select poly2020.name_2, sum(pop2020.population) as sum, pop2020.year, pop2020.month, pop2020.prefcode, poly2020.geom \
                    from pop2020 \
                        inner join adm2 as poly2020 \
                            on st_within(pop2020.geom, poly2020.geom) \
                where poly2020.name_1='Saitama')  \
                group by poly.name_2,pop2020.year, pop2020.month, pop2020.prefcode, poly.geom)\
            SELECT pop2019.mesh1kmid,  pop2019.population as pop19, pop2020.population as pop20, (pop2019.population - pop2020.population) AS dif19_20, pop2019.geom \
                    FROM pop2019 \
                    INNER JOIN pop2020 \
                        ON pop2019.mesh1kmid = pop2020.mesh1kmid \
                    GROUP BY pop2019.mesh1kmid, pop2019.population, pop2020.population, pop2019.geom \
                    ORDER BY pop2019.mesh1kmid;"

In [82]:
def get_color(difference, scale=10):
    """
    Return a color corresponding to the difference value using a more granular color scale.
    The `scale` parameter can be adjusted based on the data range.
    """
    if difference > 100 * scale:
        return '#b2182b'  # Dark red
    elif difference > 50 * scale:
        return '#ef8a62'  # Reddish orange
    elif difference > 1 * scale:
        return '#fddbc7'  # Light red
    elif difference > 0:
        return '#f7f7f7'  # Very light grey (almost white)
    elif difference == 0:
        return '#ffffff'  # White
    elif difference > -1 * scale:
        return '#d1e5f0'  # Light blue
    elif difference > -50 * scale:
        return '#67a9cf'  # Moderate blue
    elif difference > -100 * scale:
        return '#2166ac'  # Dark blue
    else:
        return '#053061'  # Very dark blue

# The rest of your code would remain the same


def display_interactive_map(gdf):
    m = folium.Map(location=[36, 139.5], zoom_start=9)

    # Define a style function to apply the color based on the 'dif19_20' value
    def style_function(feature):
        difference = feature['properties']['dif19_20']
        return {
            'fillColor': get_color(difference),
            'fillOpacity': 0.7,
            'lineOpacity': 0.0,
            'weight': 0
        }

    # Apply the style function to each feature in the GeoJson layer
    folium.GeoJson(
        gdf.to_json(),
        style_function=style_function
    ).add_to(m)

    return m

In [83]:
out = query_geopandas(sql,'gisdb')
map_display = display_interactive_map(out)
print(out)
display(map_display)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "select"
LINE 1: ...                            d.month='04')         select pol...
                                                             ^

[SQL: WITH pop2019 AS                     ((SELECT DISTINCT(p.name), d.prefcode, d.year, d.month, d.population, p.geom                         FROM pop2019 as d                        INNER JOIN pop_mesh as p                         on p.name = d.mesh1kmid                     where d.dayflag='0' and                             d.timezone='0' and                             d.year='2019' and                             d.month='04')         select poly.name_2, sum(pop2019.population) as sum, pop2019.year, pop2019.month, pop2019.prefcode, poly.geom             FROM pop2019                 INNER JOIN adm2 as poly                     on st_within(pop2019.geom, poly.geom)             where poly.name_1='Saitama'            group by poly.name_2,pop2019.year, pop2019.month, pop2019.prefcode, poly.geom),                pop2020 AS                     ((SELECT mesh1kmid, population                         from pop2020 as d                        INNER JOIN pop_mesh as p                         on p.name = d.mesh1kmid                     where d.dayflag='0' and                             d.timezone='0' and                             d.year='2020' and                             d.month='04')                 select poly2020.name_2, sum(pop2020.population) as sum, pop2020.year, pop2020.month, pop2020.prefcode, poly2020.geom                     from pop2020                         inner join adm2 as poly2020                             on st_within(pop2020.geom, poly2020.geom)                 where poly2020.name_1='Saitama')                  group by poly.name_2,pop2020.year, pop2020.month, pop2020.prefcode, poly.geom)            SELECT pop2019.mesh1kmid,  pop2019.population as pop19, pop2020.population as pop20, (pop2019.population - pop2020.population) AS dif19_20, pop2019.geom                     FROM pop2019                     INNER JOIN pop2020                         ON pop2019.mesh1kmid = pop2020.mesh1kmid                     GROUP BY pop2019.mesh1kmid, pop2019.population, pop2020.population, pop2019.geom                     ORDER BY pop2019.mesh1kmid;]
(Background on this error at: https://sqlalche.me/e/14/f405)