# Exercise 1

In [3]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [4]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

### Q1: 埼玉県で一番小さい面積の市町村を調べる

In [30]:
# " "のなかにSQL文を記述
sql = " select name_2, st_area(geom::geography)/1000000 as area_km2 from adm2 where name_1='Saitama' and st_area(geom::geography)/1000000 = (select min(st_area(geom::geography)/1000000)from adm2 where name_1 = 'Saitama'); "

In [31]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   name_2  area_km2
0  Warabi  6.587194

### Q2. 都道府県ごとに一番大きい面積を有する市町村を調べる

In [36]:
# " "のなかにSQL文を記述
sql = " select name_1, name_2, st_area(geom::geography)/1000000 as area_km2 from adm2 where st_area(geom::geography)/1000000 = (select max(st_area(geom::geography)/1000000)from adm2); "

In [37]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

  name_1    name_2     area_km2
0   Gifu  Takayama  2173.869108

### Q3. 都道府県ごとに市町村の総数が多い順に並べる

In [92]:
# " "のなかにSQL文を記述
sql = " select name_1, count(name_2) from adm2 group by name_1 order by count(name_2) desc"

In [93]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

       name_1  count
0    Hokkaido    180
1      Nagano     82
2     Saitama     70
3     Fukuoka     66
4       Aichi     64
5   Fukushima     60
6       Chiba     56
7       Tokyo     53
8    Kumamoto     48
9   Kagoshima     46
10    Ibaraki     45
11      Osaka     43
12       Gifu     43
13   Shizuoka     43
14    Okinawa     42
15      Hyōgo     41
16     Aomori     40
17       Nara     39
18      Gunma     38
19     Miyagi     36
20      Kochi     35
21   Yamagata     35
22      Iwate     35
23   Kanagawa     33
24    Niigata     31
25    Tochigi     31
26    Okayama     30
27   Miyazaki     30
28   Wakayama     29
29  Yamanashi     28
30        Mie     28
31      Shiga     27
32      Kyoto     26
33      Akita     25
34  Tokushima     24
35   Naoasaki     23
36  Hiroshima     23
37    Shimane     22
38       Saga     20
39      Ehime     20
40  Yamaguchi     20
41   Ishikawa     19
42       Oita     18
43    Tottori     18
44      Fukui     17
45     Toyama     15
46     Kagawa     14

### Q4. 都道府県ごとに村の総数が多い順に並べる

In [98]:
# " "のなかにSQL文を記述
sql = " select name_1, count(name_2) from adm2 where type_2 = 'Mura' group by name_1 order by count(name_2) desc "

In [99]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

       name_1  count
0      Nagano     34
1     Okinawa     16
2    Hokkaido     15
3   Fukushima     13
4        Nara     11
5    Kumamoto      8
6      Aomori      7
7   Yamanashi      6
8       Iwate      6
9     Fukuoka      4
10      Kochi      4
11      Gunma      4
12    Niigata      3
13      Akita      3
14        Mie      2
15       Gifu      2
16    Ibaraki      2
17  Kagoshima      2
18      Aichi      2
19   Miyazaki      2
20    Okayama      2
21       Oita      1
22      Osaka      1
23    Shimane      1
24  Tokushima      1
25    Tottori      1
26     Toyama      1
27      Kyoto      1